<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<string>http://localhost/pbms/</string>
	<key>communication</key>
	<dict>
		<key>protocol</key>
		<string>HTTP</string>
		<key>method</key>
		<string>POST</string>
		<key>asynchronous</key>
		<false/>
		<key>responseType</key>
		<string>JSON</string>
		<key>timeOut</key>
		<integer>10</integer>
	</dict>
	<key>localCache</key>
	<dict>
		<key>isActive</key>
		<true/>
		<key>cachePath</key>
		<string>localCache</string>
		<key>subResourcePath</key>
		<string>resources</string>
		<key>subDataPath</key>
		<string>localData</string>
		<key>expireTime</key>
		<integer>0</integer>
	</dict>
	<key>interface</key>
	<dict>
		<key>busiSection</key>
		<dict>
			<key>url</key>
			<string>busiSection</string>
			<key>params</key>
			<dict>
				<key>page</key>
				<string>0</string>
				<key>cert</key>
				<string>hj-yxy</string>
			</dict>
		</dict>
		<key>busiCmsArticle</key>
		<dict>
			<key>url</key>
			<string>busiCmsArticle</string>
			<key>params</key>
			<dict>
				<key>limit</key>
				<string>20</string>
				<key>cert</key>
				<string>hj-yxy</string>
			</dict>
		</dict>
		<key>busiFeedback</key>
		<dict>
			<key>url</key>
			<string>busiFeedback</string>
			<key>params</key>
			<dict>
				<key>mode</key>
				<string>create</string>
				<key>cert</key>
				<string>hj-yxy</string>
			</dict>
		</dict>
		<key>systemVersionLastest</key>
		<dict>
			<key>url</key>
			<string>systemVersionLastest</string>
			<key>params</key>
			<dict>
				<key>source</key>
				<string>0</string>
				<key>plat</key>
				<string>iOS</string>
				<key>cert</key>
				<string>hj-yxy</string>
			</dict>
		</dict>
	</dict>
	<key>localMenu</key>
	<dict>
		<key>menu</key>
		<array/>
		<key>subMenu</key>
		<array/>
	</dict>
</dict>
</plist>
